<h2>TOP page</h2>

<h2>よく使う駅</h2>

<form>
  <input type="text" size="40" id="station">

  <input type="button" value="検索">
</form>

<div id="canvas"></div>
<div id="no_data"></div>

<div>
    <button>ボタン</button>
</div>