<div class="image_filed">
  <%= attachment_image_tag images[0], :image, :fill, 300, 200, fallback: "noimage.png", id: "img_id" %>
  <input type="button" value=">" onclick="changeImage_plus();">
  <input id="img_name" type="hidden" value= <%= images_arr %> >

</div>