<table rules="all">
    <thead>
      <tr>
        <th scope="row", height="50", class="No">No.</th>
        <th scope="row">ストア名</th>
        <th scope="row">登録日</th>
        <th scope="row">ステータス</th>
        <th scope="row"></th>
      </tr>
    </thead>

    <tbody>
      <% stores.each do |store| %>
        <tr>
          <td height="50", class="No"><%= store.id %></td>
          <td><%= store.name %></td>
          <td><%= l store.created_at %></td>
          <td>
            <% if store.is_active? %>
              <p class="valid">有効</p>
            <% else %>
              <p class="invalid">退会済み</p>
            <% end %>
          </td>
          <td><%= link_to "詳細", admins_store_path(store.id) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>