<%= render 'layouts/title', title: "検索結果" %>

<section class="page">
  <% if @type == 0 %>
    <%= render 'users/stores/storeinfo', infos: @infos %>

  <% elsif @type == 1 %>

    <% @store.each do |store| %>
      <% infos = Storeinfo.where("store_id== ? and end_period >= ?", store.id, @date) %>
      <%= render 'users/stores/storeinfo', infos: infos %>
    <% end %>

  <% end %>

</section>

