<%= render 'layouts/title', title: "退会画面" %>

<section class="page">
	<h4 class="section-ttl">本当に退会しますか？</h4>
	<h5 class="text-center">退会すると、会員登録情報や<br>お気に入り登録したストアが削除されます。<br>退会する場合は、「退会する」をクリックしてください。</h5>
	<div class="flex justify-around mt2">
		<%= link_to "マイページに戻る", users_mypage_path, class: "destination" %>
		<%= link_to "退会する", users_withdraw_user_path, method: :patch, "data-confirm" => "OKを押すと退会処理がされます。本当によろしいですか？", class: "destination" %>
	</div>
</section>