<%= render 'layouts/title', title: "ABOUT" %>

<section class="page">

  <div class="letter">
    <div class="TO"><h4>TO: 一期一駅に訪れていただいた皆様</h4></div>

    <div class="about">
      <p>
        一生に一度の運命の出会いを駅で。</br>
        ここは、あなたとポップアップストアをつなげるサイトです。</br>
        ぜひ、あなたの運命のお店を見つけてください。</br>
      </p>

      <p>
        ここでは、今開催中のポップアップストアに</br>
        出会えるのはもちろんのこと</br>
        あなたのよく使う駅を登録しておけば、</br>
        常にその駅でどんなポップアップストアが出店されているか</br>
        知ることができます。
      </p>

      <p>あなたの運命のお店が見つかりますように</p>
    </div>

    <div class="from"><h4>FROM: 管理人</h4></div>
  </div>
</section>