<%= render 'layouts/title', title: "ABOUT" %>

<section class="page">

  <h4>TO: 一期一駅に訪れていただいた皆様</h4>

  <p>
    一生に一度の運命の出会いを駅で。
    ここは、あなたとポップアップストアをつなげるサイトです。
    ぜひ、あなたの運命のお店を見つけてください。
  </p>

  <h4>FROM: 管理人</h4>

</section>