<% items.each do |item| %>

      <div class="row">
        <div class="item_img store_image col-3">
          <%= attachment_image_tag item, :image, fallback: "noimage.png", class: "img-fluid" %>
        </div>
        <div class="item_info store_image col-8">
          <ul class="item-list">
            <li class="info">
              <div class="info-title">アイテム名</div>
              <div class="info-contents"><%= item.name %></div>
            </li>

            <li class="info">
              <div class="info-title">アイテム紹介</div>
              <div class="info-contents"><%= item.comment %></div>
            </li>

            <li class="info">
              <div class="info-title">金額</div>
              <div class="info-contents">￥<%= item.price %> (税抜き)</div>
            </li>
          </ul>
        </div>
      </div>

      <div class="short-line_image"></div>
    <% end %>