/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';



header {
  height: 100px;
  display: flex;

  .logo {
    text-align: center;
  }

  .search {
    text-align: right;
  }
}

.title_field {
  position: relative;
  height: 100px;
}

.title_field .train {
  width: 30%;
  height: 120px;
  background-image: url("train.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: absolute;
  right: 0;
}

.title_board {
  width: 30%;
  height: 120px;
  background-image: url("board.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  position: absolute;
  left: 0;

  .title {
    font-weight: bold;
    text-align: center;
    color: white;
    padding-top: 10px;
  }
}

.line_image {
  height: 50px;
  background-image: url('line.png');
  background-repeat: repeat-x;
}

.middle-line_image {
  height: 50px;
  background-image: url('middle-line.png');
  background-repeat: repeat-x;
}

.short-line_image {
  height: 30px;
  background-image: url('short_line.png');
  background-repeat: repeat-x;
}

.logo {
  width: 100%;
}

.logo img {
    width: 300px;
    text-align: center;

}

.inner, .store-evaluation {
    width: 80%;
    margin: 30px auto;

    .field {
      margin: 20px;
    }

    input[type='email'] {
      width: 50%;
      height: 30px;
    }

    input[type='password'] {
      width: 50%;
      height: 30px;
    }

    input[type='text'] {
      width: 50%;
      height: 30px;
    }

    textarea {
      width: 50%;
      height: 100px;
    }
}


.page {
  width: 70%;
  margin: 30px auto;

}

table {
  margin: 20px auto;
  width: 100%;
  font-size: 20px;


  .No {
    text-align: center;
  }
}

table th, table td {
  padding: 9px;
}


.valid {
  color: blue;
}

.invalid {
  color: grey;
}

.edit-button {
  text-align: center;
}

.register-img {
  margin: 0 0 30px 0;
  .h4 {
    margin-bottom: 20px;
  }
}

.edit-img {
  .delete-img {
    margin-left: 30px;
    color: black;
  }
}

.star {
  .img {
    width: 20px;
    height: 20px;
  }
}
.shop-image {
  margin: 30px;
}

.shop_info {
  width: 100%;
}

.period_bar {
  width: 100%;
  height: 10%;
  background-color: red;
}


.profile, .store_page, .item, .review, .store {
  display: flex;

  .profile_image, .image_filed, .item_img, .review_img, .store_image {
    width: 30%;
    margin: 10px;

    img#img_id {
    width: 100%;
    }


    img#item_img_id {
    margin: 20px auto;
    width: 60%;
    }

    img#profile_image {
    margin: 20px auto;
    width: 60%;
    }


    .image_button{
      text-align: center;
    }
  }

  .profile_info, .info_field, .item_info, .review_contents, .store_info {
    width: 70%;
    margin: 10px 0;
  }
}

.often_use {
  margin-left: 30%;
  margin-top: 20px;

  .station-list {
    margin: 30px;
  }
}

.favorite {
  margin-left: 30%;

  .favorite-list {
    margin: 30px;
  }
}

.input, .info {
  margin: 20px;
  display: flex;

  ul li {
    list-style: none;
  }

  .input-label, .info-title, .station, .store_name {
    margin-right: 30px;
    width: 40%;
    font-weight: bold;
  }

  .input-field, .info-contents, .button, .like {
    width: 60%;
    input[type='text'] {
      width: 100%;
      height: 40px;
    }

    input[type='email'] {
      width: 100%;
      height: 40px;
    }

    textarea {
      width: 100%;
      height: 60px;
    }
  }
}

.shop-info{
  .info {
    margin: 20px;
    display: flex;
   }

  .period, .station, .detail {
   margin-right: 20px;
  }
}


.calendar {
  width: 80%;
  margin: 20px auto;
}

.comment {
  margin: 20px;
}

.review_contents {
  .review_title {
    text: bold
  }
}

.often_use_station {
  margin-bottom: 20px;
}


.info-list {
  margin: 30px;
}





.sns_new, .sns_edit {
  margin-top: 30px;
  margin-left: 40px;
}


.store-schedule {
  margin-top: 30px;
}


footer {
  width: 100%;
  height: 120px;
  text-align: center;
  line-height: 120px;
  border-top: solid 3px #ffcccc;
}






