一般ユーザ

<table border="1">
  <tr>
    <th>No.</th>
    <th>ユーザー名</th>
    <th>登録日</th>
    <th>ステータス</th>
    <th>詳細</th>
  </tr>

  <% @publics.each do |publics| %>
  <tr>
    <td><%= publics.id %></td>
    <td><%= publics.name %></td>
    <td><%= l publics.created_at %></td>
    <td>
      <% if publics.is_active? %>
        有効
      <% else %>
        退会済み
      <% end %>

    </td>
    <td><%= link_to "詳細", admins_public_path(publics.id) %></td>
  </tr>
  <% end %>
</table>