<div class="title_field">
  <div class="row">
    <div class="title_board col-6">
      <h5 class="title"><%= title %></h5>
    </div>
    <div class="train col-6"></div>
  </div>
</div>

<div class="line_image"></div>
